<h1>{{title}}</h1>

<div class="container">
<p>Name</p><input  type="text" placeholder="Are you weird?" [(ngModel)]="first_name"> <br>
<p>Surname</p><input  type="text" placeholder="How weird are you?" [(ngModel)]="last_name"> 
</div>
<div class="btn1">
  <p>Are you a weirdo?</p>
<button class="btn"(click)="getData('YES')">YES</button>
<button class="btn" (click)="getData('NO')">NO</button>
</div>    
<div class="joke">
    <p>Chuck Norris Joke:</p>
    <p>{{ joke }}</p>
  </div>
<h1>{{title}}</h1>


