<!-- <h1>{{title}}</h1>

<div class="container">
<p>Name</p><input  type="text" placeholder="Are you weird?" [(ngModel)]="first_name"> <br>
<p>Surname</p><input  type="text" placeholder="How weird are you?" [(ngModel)]="last_name"> 
</div>
<div class="btn1">
  <p>Are you a weirdo?</p>
<button class="btn"(click)="getData('YES')">YES</button>
<button class="btn" (click)="getData('NO')">NO</button>
</div>    
<div class="joke">
    <p>Chuck Norris Joke:</p>
    <p>{{ joke }}</p>
  </div>
<h1>{{title}}</h1>

 -->


 <ng-container *ngIf="isLoading$ | async, else loaded" >

  <p>
    loading...
  </p>

 </ng-container>

 <ng-template #loaded>
  <ng-container *ngIf="(data$ | async) as data" >

    <img [src]="data?.icon_url" alt="">
    
    <p>
      {{ data?.value }}
    </p>
  </ng-container>

 </ng-template>

 <button [disabled]="isLoading$ | async" (click)="onJokeCategory()">Pull category</button>

 <select [disabled]="isLoading$ | async">
  <option *ngFor="let category of (category$ | async)" [value]="category">
    {{ category }}
  </option>
</select>

 <button [disabled]="isLoading$ | async" (click)="onRandomJoke()">get joke</button>

 <button (click)="onClear()">clear</button>

 